<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>
  <li>
    <a routerLink="same-version"
      >Same Version (Standalone) with Angular Architects</a
    >
  </li>
  <li>
    <a routerLink="same-version-admin-module"
      >Same Version (Admin Module) with Angular Architects</a
    >
  </li>
  <!-- NX SOLUTION -->
  <!-- <li>
    <a routerLink="same-version-admin-module-nx"
      >Same Version (Admin Module) with NX Plugin</a
    >
  </li> -->
  <li>
    <a routerLink="other-version"
      >Other Version by manifest with Angular Architects</a
    >
  </li>
</ul>
<router-outlet></router-outlet>
